{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post[1].title }}</h1>
          <div class="about">by {{ post[0].name }} on {{ post[1].created }}</div>
        </div>
        {% if g.user.id == post[1].author_id %}
          <a class="action" href="{{ url_for('blog.update', id=post[1].id) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ post[1].body }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
